td {  font-size: 12px; line-height: 20px}
.button1,.button2,.button3 {cursor:pointer;}
.button1 { border: #999999; border-style: double; border-top-width: 1px; border-right-width: 1px; border-bottom-width: 1px; border-left-width: 1px}
.button2 {background-color: #999999; height: 22px; clip: rect( ); color: #FFFFFF; border: 1px #e1c486 outset}
.button3 { background-color: #C50000; height: 18px; clip: rect( ); color: #FFFFFF; border: 1px #e1c486 outset;padding:2px 5px; }
a {  color: #003399; text-decoration: none}
a:hover {  color: #FF0000; text-decoration: none}
a.menu {  color: #FFFFFF; text-decoration: none}
a.menu:hover {  color: #FFFF00; text-decoration: none}
a.tt1 { color: #000000; text-decoration: none }
a.tt1:hover { color: #FF0000; text-decoration: none}
a.tt2 { color: #FF0000; text-decoration: none }
a.tt2:hover { color: #0000FF; text-decoration: none}
a.tt3 {  color: #FFFFFF}
a.tt3:hover {  color: #FF0000; text-decoration: none}
a.tt4 { color: #AA0000; text-decoration: none}
a.tt4:hover { color: #000000; text-decoration: none }
a.tt5 { color: #AA0000; text-decoration: none }
a.tt5:hover { color: #FF0000; text-decoration: none }
a.tt6 { color: #666666; text-decoration: none }
a.tt6:hover { color: #993300; text-decoration: none }
a.tt7 { color: #FFFFFF; text-decoration: none }
a.tt7:hover { color: #FFFF00; text-decoration: none }
a.start { color: #00FF00; text-decoration: none }
a.start:hover { color: #FFFF00; text-decoration: none }
a.button3:hover {color:#fff;}
.font {  line-height: 16px}
.font1 { line-height: 22px}
.sec_menu  { border-left:1px solid white; border-right:1px solid white; border-bottom:1px solid white; overflow:hidden; background:#D6DFF7; }
.menu_title  {background: #fff;border-radius:2px 2px 0 0;}
.menu_title span  { position:relative; top:2px; left:8px; color:#215DC6; font-weight:bold;}
.menu_title2  {background: #fff;border-radius:2px 2px 0 0;}
.menu_title2 span  { position:relative; top:2px; left:8px; color:#428EFF; font-weight:bold;cursor:pointer; }
.menu_title_menu {background: #fff;}
body {
font-size: 12px;
	SCROLLBAR-FACE-COLOR: #dedede; 
	SCROLLBAR-HIGHLIGHT-COLOR: #F5F9FF; 
	SCROLLBAR-SHADOW-COLOR: #828282; 
	SCROLLBAR-3DLIGHT-COLOR: #828282; 
	SCROLLBAR-ARROW-COLOR: #797979; 
	SCROLLBAR-TRACK-COLOR: #EFEFEF; 
	SCROLLBAR-DARKSHADOW-COLOR: #ffffff;
}

.text_webinfo td {padding-left:10px;}
/*list table*/
.list_table {color:#333;}
.list_table tr:hover {background:#f8f8f8;}
.list_table .list_title:hover {color:#0C4FBC;}
/*detail_table*/
.detail_table {margin-top:20px;padding:0;border-collapse:collapse;}
.detail_table tr:hover {background:#f8f8f8;}
.detail_table th,.detail_table td {border:1px solid #eee;}
.detail_table th {font:bold 14px 'Microsoft Yahei';}
.detail_table td {font-size:13px;}

a.return_list {float:right;padding:20px 100px;font-size:14px;}
a.return_list:hover {text-decoration:underline;}

/*job*/
.job_list {position:relative;width:500px;}
.count_buttons {position:absolute;margin-left:400px;}
.base_plus,.base_minus {display:inline-block;width:22px;height:22px;background:url(img/plus2.png) no-repeat;}
.base_minus {background:url(img/minus2.png) no-repeat;}
